* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/*nav header section*/


.main-header {
  width: 100%;
  background: #ff1b68;
  padding: 8px 16px;
  cursor: pointer; 
}



.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #58031f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  height: 22px;
  display: inline-block;
}

.main-header__brand:hover,
.main-header__brand:active {
  color: #fff;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;

}

.main-nav__items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;

}

.main-nav__item a {
  text-decoration: none;
  color: #58031f;
  font-weight: bold;
  padding-bottom: 2px;
}

.main-nav__item a:hover,
.main-nav__item a:active  {
  color: #fff;
  border-bottom: 3px #fff solid;

}

.main-nav__item--cta a {
  color: #fff;
  background: #58031f;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #58031f;
  background: #fff;
  border: none;
}

#product-overview {
  background: linear-gradient(to top, rgba(80, 18, 34, 0.6) 10%,
   transparent),  url("/images/freedom.jpg") left 10% bottom 45%/cover no-repeat border-box, #ff1b68;
  /* background-size: cover; */
  /* background-position: left 10% bottom 80%; */
  /* background-repeat: no-repeat; */
  /* background-clip: border-box; */
  /* background-origin: border-box; */
  /* background-image: linear-gradient(180deg, red 70%, yellow 65%, rgb(0, 0, 0, .5)); */
  /* background-image: radial-gradient(ellipse farthest-corner at  40% 30%, black 10%, white, red, yellow 40%, green); */
  width: 100%;
  height: 528px;
  padding: 390px;
  /* margin-top: 43px; */
  position: relative; 
}

.section-title {
  color: #ff1b68;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

#plans {
  margin-top: 4rem;
}

.plan {
  background: #ff1b6731;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan--highlighted {
  background: #ff1b68;
  color: #fff;
  /* x, y -axis, blurred spread color*/
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, .5);
}

.plan__annotation {
  background: #fff;
  color: #ff1b68;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, .5);
  border-radius: 7px;
}


.plan__title {
  color: #ff1b68;
}

.plan__price {
  color: #292828a9;
}

.plan--highlighted .plan__title {
  color: #fff;
}

.plan--highlighted .plan__price {
  color: #330313 ;
}

.plan__features{
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

.plan__button {
  background: #58031f;
  color: #fff;
  font: inherit;
  border: 1px solid #58031f;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.plan__button:hover,
.plan__button:hover {
  background: #fff;
  color: #58031f;
}

.plan__button:focus {
  outline: none;
}

#key-features {
  background: #330313;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  margin: 32px;
  color: #fff;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}


/* h1 {
  font-family: sans-serif;
} */


/* footer */

.main-footer {
  background: #333333;
  padding: 32px;
  /* margin-top: 48px; */
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;

}

.main-footer__link a{
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ff1b68;
}
