* {
<<<<<<< HEAD
	margin: 0;
	padding: 0;
}

.flex-container {
	display: flex;
	/* flex-direction: column; */
	background: #eee;
	height: 500px;
	/* flex direction row default */
	justify-content: start; /*default*/
	justify-content: end;
	justify-content: space-around;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex-container:after {
	content: "";
	clear: both;
	display: block;
}

.item {
  /* grow, shrink , basis */
  /* flex: 1 0 100px; */
  /* flex: 1; */
	width: 100px;
	height: 100px;
	background: teal;
	color: white;
	margin: 10px;
}

.item:nth-of-type(3) {
	align-self: end;
	order: 1;
	flex-grow: 1;
  flex-shrink: 3;

}
.item:nth-of-type(1) {
	align-self: end;
	order: 2;
	flex-grow: 1;
  flex-shrink: 1;

}
.item:nth-of-type(2) {
	align-self: end;
	order: 3;
	flex-grow: 4;
	flex-basis: 200px;
  flex-shrink: 1;
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; /* stretch, center, start, end, baseline*/
  height: 70vh;
  flex-wrap: wrap;

  align-content: space-between;
}

.item {
  background: #f1425f;
  padding: 30px;
  margin: 3px;
  color: #fff;

  /* flex-grow: 1; */
}

.i2 {
  height: 200px;
  /* flex-grow: 3;  */
  flex-basis: 100px; /*  grow: width */
  flex-shrink: 0;

  flex: 0 0 300px; /* grow, shrink, basis */
}

.i3 {
  order: 1;
  flex: 1;
}

.i4 {
  align-self: stretch;
  order: -1; /*  left to right -1->1*/
>>>>>>> fe65cc0 (flexbox)
}
