body{
  margin: 0;
  background: rgb(3, 3, 44);
}
.main-div {
  margin: 4rem auto;
  width: 45%;
  background: #fff;
}

.head-section {
  background: rgb(182, 121, 7);
  color: #fff;
  padding: .5rem 0 .5rem 2rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

input {
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(128, 128, 128, 0.171);
  border: none;
}

button {
  text-align: center;
  background: rgb(182, 121, 7);
  color: #fff;
  padding: 1rem;
  font-size: 16px;
}

a {
  color: rgb(182, 121, 7);
}

@media (max-width: 767px){
  .main-div {
    margin: 4rem auto;
    width: 90%;
    background: #fff;
  }
}