//colors
$color-primary: #87cfebb6;
$color-primary-green: #008000c4;
$color-primary-green-dark: #0e500e;
$color-primary-blue: #008fd6ec;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #3ba0ff;
$color-tertiary-dark: #237df3;


$color-white: #fff;
$color-light-grey: #777;
$color-light-grey-2: #eee;
$color-black: #000;
$color-light-grey-1: #f7f7f7;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;