.main-div {
  margin: 20px;
  background: #000;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 200px 250px 20% auto; */
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: [row-1-start] 12rem [row-1-end row-2-start] minmax(10px, 400px) [row-2-end row-3-start] auto [row-3-end];
  /* grid-column-gap: 20px;
  grid-row-gap: 10px; */
  /* row column */
  grid-gap: 10px 20px;
  grid-template-areas: "header header header header" 
                        "side main main main"
                        "footer footer footer footer"
  ;
}

@media (max-width: 767px){
  .main-div {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [row-1-start] 12rem [row-1-end row-2-start] minmax(10px, 400px) [row-2-end row-3-start] auto [row-3-end row-4-start] 100px [row-4-end];
    grid-gap: 10px 20px;
    grid-template-areas: "header header header header" 
                          "main main main main"
                          "side side side side"
                          "footer footer footer footer"
    ;
  }
}

.div1 {
  background: blue;
  opacity: .5;
  /* grid-column-start: 1;
  grid-column-end: 1; */
  /* grid-column: 1 / 1; */
  /* grid-row-start: 1;
  grid-row-end: span 3; */
  /* grid-row: row-1-start / span 2; */
  /* z-index: 10; */
  grid-area: header;
}

.div2 {
  background: Green;
  opacity: .5;
  /* grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1; */
  /* grid=>{row-start/column-start/row-end/column-end }*/
  /* grid-area: 1 / 2 / 1 / -1; */
  grid-area: side;
}

.div3 {
  background: rgb(255, 255, 0);
  opacity: .5;
  /* grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: span 1; */
  grid-area: main;

}

.div4 {
  background: Red;
  opacity: .5;
  /* grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: span 1;
  grid-row-end: row-3-end; */
  grid-area: footer;
}